.quicklink-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.link:is(:hover, :focus) {
  color: var(--emeraldgreen-2);
}

.link {
  color: var(--gray-x);
  font-size: var(--fs-10);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  padding: 2px 10px;
  transition: var(--transition-1);
  margin-bottom: 20px;
}

.footer {
  padding-block: 25px;
}

.copyright {
  color: var(--gray-x);
  font-size: var(--fs-10);
  font-weight: var(--fw-500);
  line-height: 1.7;
  text-align: center;
  margin-bottom: 15px;
}

@media (min-width: 768px) {

  .link-wrapper,
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quicklink-list {
    margin-bottom: 0;
  }

  .copyright {
    margin-bottom: 0;
  }
}